@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Sans+Caption|Sigmar+One');

body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    background-color: black;
    background: linear-gradient(#d1e2ff,white,#d1e2ff,black);
    background: -webkit-linear-gradient(#d1e2ff,white,#d1e2ff,black);
    background: -moz-linear-gradient(#d1e2ff,white,#d1e2ff,black);
    background: -ms-linear-gradient(#d1e2ff,white,#d1e2ff,black);
}

#searchListWrapper{
    width: 200px;
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
}

a{
    text-decoration: none;
}

ol{
    list-style-type: none;
    margin: 0;
    position: relative;
    top: 0px;
}

.listDiv{
    position: relative;
    right: 50px;
    margin: 0;
    padding: 0;
    height: 60px;
    width:200px;
    background-color:#6d7492;
    border-bottom: solid 2px;
    border-color: grey;
    opacity: 0.7;
}

.listDiv:hover{
    background-color: deepskyblue;
    transition: all 0.4s;
    cursor: pointer;
}

.listDiv.active{
    background-color: deepskyblue;
}

.listDiv > p{
    font-family: 'PT Sans Caption';
    font-size: 16px;
    font-weight: bold;
    position:relative;
    top:30%;
    margin: 0;
    text-align:center;
    color: black;
}

.fa-search{
    position: absolute;
    top: 25px;
    right: 30px;
    transform: scale(2,2);
    cursor: pointer;
}

.searchBox{
    position: relative;
    padding: 0;
    right: 5px;
    background-color: #6d7492;
    outline: none;
    width:0;
    height:70px;
    display:none;
    border-style: none;
    font-size: 15px;
    font-family: 'PT Sans Caption';
    color: #e1ecff;
}

input::placeholder{
  color: #e1ecff;
}

.searchBox:focus{
    display: block;
    width:210px;
    transition: width 1.0s;
}

#container{
    margin: 0 auto;
    padding: 0;
}

#weatherTextWrapper{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    font-family: 'Francois One';
    font-size: 25px;
}

table{
    position: relative;
    margin: 0 auto;
}

#locationName{
    font-family: 'Francois One';
    font-size: 40px;
}

.navbar{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #6d7492;
    opacity: 0.8;
}

h1{
    margin: 0;
    display: block;
    font-family: 'Sigmar One';
    font-size: 40px;
    text-align: center;
    opacity: 0.8;
    text-shadow: 2px 2px 8px #6d7492;
}

#weatherWrapper{
    position: relative;
    top: 60px;
    left: 12px;
}

.rainy{
    display: none;
}
.sunny{
    display: none;
}
.snowy{
    display: none;
}
.thunder{
    display: none;
}
.cloudy{
    display: none;
    position: relative;
}
.windy{
    display: none;
}

canvas{
    position: fixed;
    top: 0;
    z-index:-1;
}
#hidden{
  cursor: default;
  opacity: 0;
  right: 250px;
}
#hidden.fadeinhidden{
  cursor: pointer;
  opacity: 1;
  transition: all .5s;
}

@media screen and (min-width: 1000px){
    .searchBox{
        right: 30px;
    }
}
@media screen and (max-width: 880px){
    #searchListWrapper{
        top: 50px;
    }
    .navbar{
        height: 130px;
    }
}
@media screen and (max-width:474px){
  .navbar{
    height: 190px;
  }
  #searchListWrapper{
    top: 117px;
  }
}
